<footer class="footer">
    <div class="footer-left">
        <div class="logo-wrapper">
            <img
            class="logo"
            src="../../../assets/v2 dark mode.svg"
            placeholder="mimmento"
          />
            <div class="footer-right">
                <a href="#" class="linkedin-icon">
                  <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" />
                </a>
              </div>
        </div>
      <nav class="footer-links">
        <a href="#">Register now</a>
      </nav>
      <hr />
      <p class="copyright">© 2025 Miimento</p>
    </div>
</footer>