<nav class="header-section">
  <img
    id="miimento-logo"
    src="../../../assets/v2 dark mode.svg"
    alt="Miimento Logo"
    routerLink=""
  />
  <ul class="navbar">
    <li class="navbar-option">
      <a routerLink="about-us" class="navbar-link">About Us</a>
    </li>
    <li class="navbar-option">
      <a href="#" class="navbar-link">Book a call</a>
    </li>
    <li class="navbar-option">
      <a href="#registration-form" class="navbar-link">Register Now <span>&rarr;</span></a>
    </li>
  </ul>
</nav>