<nav class="header-section">
  <img
    id="miimento-logo"
    src="../../../assets/v2 dark mode.svg"
    placeholder="mimmento"
  />
  <div class="hidden-block"></div>
  <ul class="navbar">
    <li class="navbar-option">
      <a routerLink="#" class="navbar-link">About Us</a>
    </li>
    <li class="navbar-option">
      <a routerLink="#" class="navbar-link">Book a call</a>
    </li>
    <li class="navbar-option">
      <a routerLink="#" class="navbar-link">Sign Up</a>
    </li>
    <li class="navbar-option">
      <a routerLink="#" class="navbar-link">Login</a>
    </li>
  </ul>
</nav>
