.header-section {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  #miimento-logo {
    width: 120px;
    height: auto;
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-option {
    height: 35px;
    width: 150px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-family: cursive, sans-serif;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  .navbar-option:hover {
    background-color: white;
  }
  
  .navbar-option:hover .navbar-link {
    color: black;
  }

  @media (max-width: 768px) {
    .navbar, .header-section {
      flex-direction: column;
      gap: 1.5rem;
    }

    .navbar {
        align-items: flex-start;
    }

    #miimento-logo {
        width: 200px;
    }
  }