.home-page {
  --tw-border-opacity: 1;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: azure;

    .container {
        padding: 40px 20px;
    
        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #222;
            text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.4);
            margin: 20px;
            line-height: normal;
        }
        p {
            font-size: 20px;
            color: #333;
            max-width: 600px;
            margin: 10px auto;
            line-height: 1.5;
        }
        .buttons {
            margin-top: 20px;

            a {
                text-decoration: none;
            }

            .btn {
                padding: 12px 24px;
                font-size: 16px;
                font-weight: bold;
                border: 2px solid black;
                background-color: white;
                cursor: pointer;
                margin: 10px;
                border-radius: 25px;
                transition: all 0.3s ease;
            }
            .btn span {
                margin-left: 0.5rem;
            }
            .btn:hover {
                background-color: rgb(28 28 28 / var(--tw-bg-opacity, 1));;
                color: white;
            }
            .btn-black {
                background-color: rgb(28 28 28 / var(--tw-bg-opacity, 1));;
                color: white;
            }
            .btn-black:hover {
                background-color: white;
                color: rgb(28 28 28 / var(--tw-bg-opacity, 1));;
            }
        }
    }

    .how-it-works {
        background: azure;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .how-it-works h2 {
        font-size: 32px;
        margin-bottom: 10px;
        color: rgb(28 28 28 / var(--tw-bg-opacity, 1));
    }
    
    .how-it-works p {
        font-size: 18px;
        margin-bottom: 40px;
        color: #555;
    }
    
    .features {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .feature {
        width: 30%;
        background: rgb(28 28 28 / var(--tw-bg-opacity, 1));
        padding: 20px;
        border-radius: 30px;
        text-align: center;
        transition: transform 0.3s ease;
    }
    
    .feature img {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }
    
    .feature h3 {
        font-size: 22px;
        color: rgb(254 243 229 / var(--tw-text-opacity, 1));;
        margin-bottom: 10px;
    }
    
    .feature p {
        font-size: 16px;
        color: hsla(40, 68%, 94%, .5);
    }
    
    .feature:hover {
        transform: translateY(-5px);
    }
    
    @media (max-width: 768px) {
        .features {
            flex-direction: column;
        }
        .feature {
            width: 80%;
            margin: 10px auto;
        }
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 1rem;
        background: linear-gradient(to bottom, #ff8551, #fd72e0);
        text-align: center;
      }
      
      .hero-content {
        max-width: 800px;
      }
      
      .hero-content h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #000;
        margin-bottom: 1rem;
      }
      
      .hero-content p {
        font-size: 1.2rem;
        color: #000;
        line-height: 1.6;
        margin-bottom: 2rem;
      }
      
      .cta-button {
        background-color: white;
        border: none;
        color: black;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 999px;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
      
      .cta-button span {
        margin-left: 0.5rem;
      }
      
      .cta-button:hover {
        transform: scale(1.05);
        background-color: black;
        color: white;
      }
}
