<div class="home-page">
    <div class="container">
        <h1>Not sure What’s Next?</h1>
        <h2>Connect with Mentors Who’ve Been There!</h2>
        <p>
            We simply connect you with your experienced seniors/alumni to explore career options, 
            break free from the herd mentality, and make informed decisions about your future.
        </p>
        <div class="buttons">
            <button class="btn">Sign up</button>
            <button class="btn btn-black">Login</button>
        </div>
    </div>
    
    <div class="how-it-works">
        How it works?
    </div>
</div>
