.registration-wrapper {
    --tw-bg-opacity: 1;
    padding: 20px;
    display: flex;
    justify-content: center;

    form {
        line-height: 3rem;
        background: linear-gradient(to bottom, hsla(40, 68%, 94%, 0.5), rgb(28 28 28/var(--tw-bg-opacity, 1)));;
        width: 450px;
        border-radius: 20px;
        padding: 20px;

        h2 {
            color: rgb(28 28 28/var(--tw-bg-opacity,1));
        }

        .mat-mdc-form-field {
            width: 300px;
        }

        ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            border-radius: 10px;
        }

        button {
            color: rgb(28 28 28/var(--tw-bg-opacity, 1));
            background-color: white;
        }

        .mat-mdc-button[disabled], .mat-mdc-button.mat-mdc-button-disabled {
            background-color: lightgrey;
        }
    }

}